.container {
    background-color: brown;
    margin-top: 70px;
    height: 400px;
    width: 500px;
    overflow-y: auto;
}

.right {
    float: right;
    clear: both;
}

.left {
    float: left;
    clear: both;
}

.message {
    background-color: gray;
}

#formMessage {
    text-align: center;
}

#textBox {
    width: 29%;
}
